In [348]:
import pandas as pd
import numpy as np
import os
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import Imputer
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.decomposition import PCA
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.decomposition import PCA
from sklearn.model_selection import StratifiedKFold
from sklearn.naive_bayes import GaussianNB 
import matplotlib.pyplot as plt

In [7]:
pwd

'C:\\Users\\rmusti'

In [8]:
path = 'C:\\Ravikanth\\Analytics Vidya\\1.Loan Prediction'

In [9]:
os.chdir(path)

In [10]:
pwd

'C:\\Ravikanth\\Analytics Vidya\\1.Loan Prediction'

In [11]:
os.listdir()

['Sample_Submission_ZAuTl8O_FK3zQHh.csv',
 'Submission.csv',
 'Submission_1.csv',
 'test_Y3wMUE5_7gLdaTN.csv',
 'train_u6lujuX_CVtuZ9i.csv']

In [149]:
train = pd.read_csv('train_u6lujuX_CVtuZ9i.csv')
test = pd.read_csv('test_Y3wMUE5_7gLdaTN.csv')

In [150]:
train.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [151]:
test.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban

In [152]:
print('Train Shape: {}   Test Shape: {}' .format(train.shape , test.shape))

Train Shape: (614, 13)   Test Shape: (367, 12)

In [153]:
pd.value_counts(train['Loan_Status'].values)/len(train['Loan_Status'])*100

Y    68.729642
N    31.270358
dtype: float64

In [154]:
'''This is a perfect case of imbalance class'''

'This is a perfect case of imbalance class'

In [155]:
'''Lets Do some data Preprocessing . We will cover following taks:
1. Check Data types such as Numerics , Date , Strings , Categories
2. Do Label encoding for object columns which have two categories
3. DO One Hot Encoding for object columns which have more than 2 categories
4. Do Imputation for missing values
'''

'Lets Do some data Preprocessing . We will cover following taks:\n1. Check Data types such as Numerics , Date , Strings , Categories\n2. Do Label encoding for object columns which have two categories\n3. DO One Hot Encoding for object columns which have more than 2 categories\n4. Do Imputation for missing values\n'

In [156]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [20]:
def miss_val(df):
    miss_values =  df.isnull().sum()
    miss_values_percent = df.isnull().sum()/len(df)*100
    miss_values_table = pd.concat([miss_values,miss_values_percent] , axis =1)
    miss_values_table_ren = miss_values_table.rename(columns ={ 0: 'Missing Value' , 1:'Percent'})
    return miss_values_table_ren

In [157]:
miss_val(train)

                   Missing Value   Percent
Loan_ID                        0  0.000000
Gender                        13  2.117264
Married                        3  0.488599
Dependents                    15  2.442997
Education                      0  0.000000
Self_Employed                 32  5.211726
ApplicantIncome                0  0.000000
CoapplicantIncome              0  0.000000
LoanAmount                    22  3.583062
Loan_Amount_Term              14  2.280130
Credit_History                50  8.143322
Property_Area                  0  0.000000
Loan_Status                    0  0.000000

In [158]:
train.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [23]:
'''We have many columns with data type as object. Now lets us see more info about these object data type '''

'We have many columns with data type as object. Now lets us see more info about these object data type '

In [24]:
train.select_dtypes('object').apply(pd.Series.nunique, axis = 0)

Loan_ID          614
Gender             2
Married            2
Dependents         4
Education          2
Self_Employed      2
Property_Area      3
Loan_Status        2
dtype: int64

In [159]:
test.select_dtypes('object').apply(pd.Series.nunique, axis = 0)

Loan_ID          367
Gender             2
Married            2
Dependents         4
Education          2
Self_Employed      2
Property_Area      3
dtype: int64

In [26]:
pd.Series.nunique(train['Loan_ID'])

614

In [27]:
'''As you can see most of the object columns have 2 categories. So lets do label encoding to these object columns'''

'As you can see most of the object columns have 2 categories. So lets do label encoding to these object columns'

In [160]:
le = LabelEncoder()

In [161]:
#Lets do label encoding manually for train data first. Then we wil do the same for test data as well
train['Gender'] =  le.fit_transform(train['Gender'].astype(str))
train['Married'] =  le.fit_transform(train['Married'].astype(str))
train['Education'] =  le.fit_transform(train['Education'].astype(str))
train['Self_Employed'] =  le.fit_transform(train['Self_Employed'].astype(str))
mapper = { 'Y' : 1 , 'N' : 0}
train['Loan_Status'] = train['Loan_Status'].map(mapper)

In [162]:
#Lets do label encoding manually for test data first.
test['Gender'] =  le.fit_transform(test['Gender'].astype(str))
test['Married'] =  le.fit_transform(test['Married'].astype(str))
test['Education'] =  le.fit_transform(test['Education'].astype(str))
test['Self_Employed'] =  le.fit_transform(test['Self_Employed'].astype(str))

In [163]:
#Now lets do OHE (One hot encoding) for columns with more than 2 categories. Lets do it using getdummies function of Pandas
#Before doing OHE lets check the shape 
train.shape

(614, 13)

In [164]:
target_label = train['Loan_Status']
train_dm = pd.get_dummies(train.drop(columns=['Loan_ID','Loan_Status']))
train_dm['Loan_Status'] = target_label

In [172]:
train_dm.shape

(614, 17)

In [173]:
train_dm.head(10)

,Gender,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Status
0,1,0,0,0,5849,0.0,NaN,360.0,1.0,1,0,0,0,0,0,1,1
1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,1,0,0,1,0,0,0
2,1,1,0,1,3000,0.0,66.0,360.0,1.0,1,0,0,0,0,0,1,1
3,1,1,1,0,2583,2358.0,120.0,360.0,1.0,1,0,0,0,0,0,1,1
4,1,0,0,0,6000,0.0,141.0,360.0,1.0,1,0,0,0,0,0,1,1
5,1,1,0,1,5417,4196.0,267.0,360.0,1.0,0,0,1,0,0,0,1,1
6,1,1,1,0,2333,1516.0,95.0,360.0,1.0,1,0,0,0,0,0,1,1
7,1,1,0,0,3036,2504.0,158.0,360.0,0.0,0,0,0,1,0,1,0,0
8,1,1,0,0,4006,1526.0,168.0,360.0,1.0,0,0,1,0,0,0,1,1
9,1,1,0,0,12841,10968.0,349.0,360.0,1.0,0,1,0,0,0,1,0,0

In [174]:

test_dm = pd.get_dummies(test.drop(columns='Loan_ID'))
test_dm.shape

(367, 16)

In [175]:
'''Now we shall do something to handle missing values using sklearn Imputer function'''

'Now we shall do something to handle missing values using sklearn Imputer function'

In [169]:
impute = Imputer(missing_values=np.nan ,strategy='most_frequent' )

In [170]:
train_dm[['Credit_History']] = impute.fit_transform(train_dm[['Credit_History']]).ravel()

In [176]:
miss_val(train_dm)

                         Missing Value   Percent
Gender                               0  0.000000
Married                              0  0.000000
Education                            0  0.000000
Self_Employed                        0  0.000000
ApplicantIncome                      0  0.000000
CoapplicantIncome                    0  0.000000
LoanAmount                          22  3.583062
Loan_Amount_Term                    14  2.280130
Credit_History                       0  0.000000
Dependents_0                         0  0.000000
Dependents_1                         0  0.000000
Dependents_2                         0  0.000000
Dependents_3+                        0  0.000000
Property_Area_Rural                  0  0.000000
Property_Area_Semiurban              0  0.000000
Property_Area_Urban                  0  0.000000
Loan_Status                          0  0.000000

In [177]:
impute = Imputer(missing_values=np.nan ,strategy='mean' )
train_dm[['LoanAmount']] = impute.fit_transform(train_dm[['LoanAmount']]).ravel()
impute = Imputer(missing_values=np.nan ,strategy='most_frequent' )
train_dm[['Loan_Amount_Term']] = impute.fit_transform(train_dm[['Loan_Amount_Term']]).ravel()

In [178]:
miss_val(train_dm)

                         Missing Value  Percent
Gender                               0      0.0
Married                              0      0.0
Education                            0      0.0
Self_Employed                        0      0.0
ApplicantIncome                      0      0.0
CoapplicantIncome                    0      0.0
LoanAmount                           0      0.0
Loan_Amount_Term                     0      0.0
Credit_History                       0      0.0
Dependents_0                         0      0.0
Dependents_1                         0      0.0
Dependents_2                         0      0.0
Dependents_3+                        0      0.0
Property_Area_Rural                  0      0.0
Property_Area_Semiurban              0      0.0
Property_Area_Urban                  0      0.0
Loan_Status                          0      0.0

'''As you can see there is no missing value in train data. Lets do similar excersize for test data '''

In [179]:
miss_val(test_dm)

                         Missing Value   Percent
Gender                               0  0.000000
Married                              0  0.000000
Education                            0  0.000000
Self_Employed                        0  0.000000
ApplicantIncome                      0  0.000000
CoapplicantIncome                    0  0.000000
LoanAmount                           5  1.362398
Loan_Amount_Term                     6  1.634877
Credit_History                      29  7.901907
Dependents_0                         0  0.000000
Dependents_1                         0  0.000000
Dependents_2                         0  0.000000
Dependents_3+                        0  0.000000
Property_Area_Rural                  0  0.000000
Property_Area_Semiurban              0  0.000000
Property_Area_Urban                  0  0.000000

In [180]:
impute = Imputer(missing_values=np.nan ,strategy='mean' )
test_dm[['LoanAmount']] = impute.fit_transform(test_dm[['LoanAmount']]).ravel()
impute = Imputer(missing_values=np.nan ,strategy='most_frequent' )
test_dm[['Loan_Amount_Term']] = impute.fit_transform(test_dm[['Loan_Amount_Term']]).ravel()
test_dm[['Credit_History']] = impute.fit_transform(test_dm[['Credit_History']]).ravel()

In [181]:
miss_val(test_dm)

                         Missing Value  Percent
Gender                               0      0.0
Married                              0      0.0
Education                            0      0.0
Self_Employed                        0      0.0
ApplicantIncome                      0      0.0
CoapplicantIncome                    0      0.0
LoanAmount                           0      0.0
Loan_Amount_Term                     0      0.0
Credit_History                       0      0.0
Dependents_0                         0      0.0
Dependents_1                         0      0.0
Dependents_2                         0      0.0
Dependents_3+                        0      0.0
Property_Area_Rural                  0      0.0
Property_Area_Semiurban              0      0.0
Property_Area_Urban                  0      0.0

In [45]:
'''Now we are good to go for building model. Lets try first with logistic Regression , then with SVM, DTree, Random Forest'''

'Now we are good to go for building model. Lets try first with logistic Regression , then with SVM, DTree, Random Forest'

In [182]:
train_dm.shape

(614, 17)

In [183]:
test_dm.shape

(367, 16)

In [184]:
x_train , x_test , y_train , y_test = train_test_split(train_dm.iloc[:,:-1] , train_dm['Loan_Status'] , test_size = 0.2 , random_state = 10)

In [185]:
x_test.shape

(123, 16)

In [186]:
lr = LogisticRegression()
knn = KNeighborsClassifier(n_neighbors=10)
svm = SVC(C=1.0)
dtree = DecisionTreeClassifier(criterion='gini' , random_state= 100)
rf = RandomForestClassifier(random_state=100)

In [104]:
classifiers = [lr,knn,svm,dtree,rf]
Lables = ['Logistic Regression' , 'K Nearest Neighbours','Support Vector Machines', 'Decision Trees', 'Random Forest']
for clf , label in zip(classifiers , Lables):
    clf.fit(x_train,y_train)
    score = clf.score(x_test,y_test)
    print('Using {}  \n Accuracy: {} ' .format(label, score))

Using Logistic Regression
 Accuracy: 0.7967479674796748
Using K Nearest Neighbours
 Accuracy: 0.6341463414634146
Using Support Vector Machines
 Accuracy: 0.7154471544715447
Using Decision Trees
 Accuracy: 0.7073170731707317
Using Random Forest
 Accuracy: 0.7560975609756098

In [65]:
'''As you can see the Accuracy is very bad except for Logistic Regression. Now lets try different methods to imporve the score'''

'As you can see the Accuracy is very bad except for Logistic Regression. Now lets try different methods to imporve the score'

In [56]:
'''First we we will do scaling'''

'First we we will do scaling'

In [187]:
sc = StandardScaler()
sc.fit(x_train)
x_train_sc = sc.transform(x_train)
x_test_sc = sc.transform(x_test)

In [188]:
x_train.shape

(491, 16)

In [189]:
y_test.shape

(123,)

In [190]:
classifiers = [lr,knn,svm,dtree,rf]
Lables = ['Logistic Regression' , 'K Nearest Neighbours','Support Vector Machines', 'Decision Trees', 'Random Forest']
for clf , label in zip(classifiers , Lables):
    clf.fit(x_train_sc,y_train)
    score = clf.score(x_test_sc,y_test)
    print('Using {}  \n Accuracy: {} ' .format(label, score))

Using Logistic Regression
 Accuracy: 0.7967479674796748
Using K Nearest Neighbours
 Accuracy: 0.7479674796747967
Using Support Vector Machines
 Accuracy: 0.8048780487804879
Using Decision Trees
 Accuracy: 0.7073170731707317
Using Random Forest
 Accuracy: 0.7560975609756098

In [75]:
'''As you can see , by using standardization the accuracy for SCV increased drastically. Now lets focus on creating polynomials
and decomposition'''

'As you can see , by using standardization the accuracy for SCV increased drastically. Now lets focus on creating polynomials\nand decomposition'

In [191]:
x_train['Loan_Status'] = target_label

In [110]:
##mapper = { 'Y' : 1 , 'N' : 0}
##x_train['Loan_Status'] = x_train['Loan_Status'].map(mapper)

In [192]:
x_train.head(10)

,Gender,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Status
260,1,1,0,0,6083,4250.0,330.000000,360.0,1.0,0,1,0,0,0,0,1,1
303,1,1,0,0,1625,1803.0,96.000000,360.0,1.0,0,1,0,0,0,0,1,1
407,0,0,1,0,2213,0.0,66.000000,360.0,1.0,1,0,0,0,1,0,0,1
261,1,0,0,0,2060,2209.0,134.000000,360.0,1.0,1,0,0,0,0,1,0,1
352,1,1,0,0,2666,2083.0,95.000000,360.0,1.0,0,0,0,1,1,0,0,1
439,0,1,1,1,7142,0.0,138.000000,360.0,1.0,1,0,0,0,1,0,0,1
433,1,1,0,0,2425,2340.0,143.000000,360.0,1.0,1,0,0,0,0,1,0,1
131,1,0,0,0,2014,1929.0,74.000000,360.0,1.0,1,0,0,0,0,0,1,1
348,1,1,0,0,6333,4583.0,259.000000,360.0,1.0,1,0,0,0,0,1,0,1
437,1,1,0,0,2213,1125.0,146.412162,360.0,1.0,1,0,0,0,0,0,1,1

In [193]:
x_train.corr()['Loan_Status'].sort_values(ascending = False)

Loan_Status                1.000000
Credit_History             0.554545
Property_Area_Semiurban    0.185593
Married                    0.096205
Dependents_2               0.067595
Self_Employed              0.016104
Dependents_3+              0.005383
ApplicantIncome           -0.001347
LoanAmount                -0.006422
Gender                    -0.013456
Loan_Amount_Term          -0.016986
Dependents_0              -0.019483
Dependents_1              -0.027019
CoapplicantIncome         -0.056085
Property_Area_Urban       -0.069862
Education                 -0.095407
Property_Area_Rural       -0.127297
Name: Loan_Status, dtype: float64

In [194]:
polynomials = PolynomialFeatures(degree=2)

In [195]:
x_train_sc = polynomials.fit_transform(x_train_sc)
x_test_sc = polynomials.fit_transform(x_test_sc)
print('X_train shape : {}  X_test Shape: {}' .format(x_train_sc.shape , x_test_sc.shape))

X_train shape : (491, 153)  X_test Shape: (123, 153)

In [196]:
classifiers = [lr,knn,svm,dtree,rf]
Lables = ['Logistic Regression' , 'K Nearest Neighbours','Support Vector Machines', 'Decision Trees', 'Random Forest']
for clf , label in zip(classifiers , Lables):
    clf.fit(x_train_sc,y_train)
    score = clf.score(x_test_sc,y_test)
    print('Using {}  \n Accuracy: {} ' .format(label, score))

Using Logistic Regression
 Accuracy: 0.6747967479674797
Using K Nearest Neighbours
 Accuracy: 0.7560975609756098
Using Support Vector Machines
 Accuracy: 0.7967479674796748
Using Decision Trees
 Accuracy: 0.7073170731707317
Using Random Forest
 Accuracy: 0.7479674796747967

In [197]:
'''After creating polynomial , accuracy decreased.So lets do decomposition'''

'After creating polynomial , accuracy decreased.So lets do decomposition'

In [198]:
pca = PCA(n_components=2)

In [199]:
x_train_sc_pca = pca.fit_transform(x_train_sc)
x_test_sc_pca = pca.fit_transform(x_test_sc)

In [200]:
classifiers = [lr,knn,svm,dtree,rf]
Lables = ['Logistic Regression' , 'K Nearest Neighbours','Support Vector Machines', 'Decision Trees', 'Random Forest']
for clf , label in zip(classifiers , Lables):
    clf.fit(x_train_sc_pca,y_train)
    score = clf.score(x_test_sc_pca,y_test)
    print('Using {}  \n Accuracy: {} ' .format(label, score))

Using Logistic Regression
 Accuracy: 0.7073170731707317
Using K Nearest Neighbours
 Accuracy: 0.7073170731707317
Using Support Vector Machines
 Accuracy: 0.7073170731707317
Using Decision Trees
 Accuracy: 0.2845528455284553
Using Random Forest
 Accuracy: 0.6747967479674797

In [201]:
'''Surprisinginly the accuracy dropped after doing PCA. Finally lets try XGBOOST and LGBM'''

'Surprisinginly the accuracy dropped after doing PCA. Finally lets try XGBOOST and LGBM'

In [202]:
import lightgbm as lgbm
import xgboost as xgb

In [203]:
xgb_clf = xgb.XGBClassifier(n_estimators=100 ,reg_alpha=0 ,random_state=10)

In [204]:
xgb_clf.fit(x_train_sc , y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic',
       random_state=10, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
       seed=None, silent=True, subsample=1)

In [205]:
xgb_clf.score(x_test_sc,y_test)

C:\Ravikanth\K\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

0.7642276422764228

In [206]:
lgbm_clf = lgbm.LGBMClassifier()
lgbm_clf.fit(x_train_sc , y_train)
lgbm_clf.score(x_test_sc,y_test)

C:\Ravikanth\K\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

0.7723577235772358

In [207]:
lr.fit(x_train.iloc[:,:-1] , y_train)
lr.score(x_test,y_test)

0.7967479674796748

In [444]:
sample = pd.read_csv('Sample_Submission_ZAuTl8O_FK3zQHh.csv')

In [445]:
sample.head()

Empty DataFrame
Columns: [Loan_ID, Loan_Status]
Index: []

In [5]:
test_dm.head()

NameError: name 'test_dm' is not defined

In [208]:
train_dm.head(10)

,Gender,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Status
0,1,0,0,0,5849,0.0,146.412162,360.0,1.0,1,0,0,0,0,0,1,1
1,1,1,0,0,4583,1508.0,128.000000,360.0,1.0,0,1,0,0,1,0,0,0
2,1,1,0,1,3000,0.0,66.000000,360.0,1.0,1,0,0,0,0,0,1,1
3,1,1,1,0,2583,2358.0,120.000000,360.0,1.0,1,0,0,0,0,0,1,1
4,1,0,0,0,6000,0.0,141.000000,360.0,1.0,1,0,0,0,0,0,1,1
5,1,1,0,1,5417,4196.0,267.000000,360.0,1.0,0,0,1,0,0,0,1,1
6,1,1,1,0,2333,1516.0,95.000000,360.0,1.0,1,0,0,0,0,0,1,1
7,1,1,0,0,3036,2504.0,158.000000,360.0,0.0,0,0,0,1,0,1,0,0
8,1,1,0,0,4006,1526.0,168.000000,360.0,1.0,0,0,1,0,0,0,1,1
9,1,1,0,0,12841,10968.0,349.000000,360.0,1.0,0,1,0,0,0,1,0,0

In [137]:
lr = LogisticRegression(C=10)
lr.fit(train_dm.iloc[:,:-1] , train_dm['Loan_Status'])

LogisticRegression(C=10, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [489]:
pred_loan_status=lr.predict(test_dm)

In [490]:
submission_1 = pd.DataFrame(test['Loan_ID'] , columns=['Loan_ID','Loan_Status'])

In [464]:
submission_1['Loan_Status'] = pred_loan_status

In [466]:
submission_1.shape

(367, 2)

In [472]:
submission_1.to_csv('Submission_1.csv' , index= False)

In [209]:
'''Now lets try stacking'''

'Now lets try stacking'

In [264]:
def Stacking(model,train,y,test,n_fold):
    folds=StratifiedKFold(n_splits=n_fold,random_state=1)
    test_pred=np.empty((test.shape[0],1),float)
    train_pred=np.empty((0,1),float)
    for train_indices,val_indices in folds.split(train,y.values):
        x_train,x_val=train.iloc[train_indices],train.iloc[val_indices]
        y_train,y_val=y.iloc[train_indices],y.iloc[val_indices]
        model.fit(X=x_train,y=y_train)
        train_pred=np.append(train_pred,model.predict(x_val))
    model.fit(train,y)
    test_pred=model.predict(test)
    return test_pred ,train_pred

In [330]:
model1 = GaussianNB()
test_pred1 ,train_pred1=Stacking(model=model1,n_fold=10, train=train_dm.iloc[:,:-1],y=train_dm['Loan_Status'] ,test=test_dm)
train_pred1=pd.DataFrame(train_pred1 , columns=['LR'])
test_pred1=pd.DataFrame(test_pred1, columns=['LR'])

In [331]:
model2 = RandomForestClassifier()
test_pred2 ,train_pred2=Stacking(model=model2,n_fold=10, train=train_dm.iloc[:,:-1],y=train_dm['Loan_Status'] ,test=test_dm)
train_pred2=pd.DataFrame(train_pred2, columns=['DT'])
test_pred2=pd.DataFrame(test_pred2, columns=['DT'])

In [332]:
model3 = KNeighborsClassifier()
test_pred3 ,train_pred3=Stacking(model=model3,n_fold=10, train=train_dm.iloc[:,:-1],y=train_dm['Loan_Status'] ,test=test_dm)
train_pred3=pd.DataFrame(train_pred3, columns=['KNN'])
test_pred3=pd.DataFrame(test_pred3, columns=['KNN'])

In [347]:
df = pd.concat([train_pred1,train_pred2,train_pred3], axis=1)
df_test = pd.concat([test_pred1,test_pred2,test_pred3], axis=1)

model = LogisticRegression(C = 1, penalty='l2',random_state=100)
#model = SVC()
model.fit(df,train_dm['Loan_Status'])
model.score(df, train_dm['Loan_Status'])

0.7671009771986971

In [345]:
pred_loan_status = model.predict(df_test)

In [346]:
submission_2 = pd.DataFrame(test['Loan_ID'] , columns=['Loan_ID','Loan_Status'])
submission_2['Loan_Status'] = pred_loan_status
mapper = { 1 : 'Y' , 0 : 'N'}
submission_2['Loan_Status'] = submission_2['Loan_Status'].map(mapper)
submission_2.to_csv('Submission_7.csv' , index= False)

In [311]:
!pip install MLXTEND

Collecting MLXTEND
  Downloading https://files.pythonhosted.org/packages/16/e6/30e50ed9c053a1530c83149090e1f5fd9fccc8503dca2ecce1bb52f34de0/mlxtend-0.15.0.0-py2.py3-none-any.whl (1.3MB)
Requirement already satisfied: matplotlib>=1.5.1 in c:\ravikanth\k\lib\site-packages (from MLXTEND) (2.1.2)
Requirement already satisfied: scipy>=0.17 in c:\ravikanth\k\lib\site-packages (from MLXTEND) (1.0.0)
Requirement already satisfied: scikit-learn>=0.18 in c:\ravikanth\k\lib\site-packages (from MLXTEND) (0.19.1)
Requirement already satisfied: setuptools in c:\ravikanth\k\lib\site-packages (from MLXTEND) (38.4.0)
Requirement already satisfied: numpy>=1.10.4 in c:\ravikanth\k\lib\site-packages (from MLXTEND) (1.14.0)
Requirement already satisfied: pandas>=0.17.1 in c:\ravikanth\k\lib\site-packages (from MLXTEND) (0.22.0)
Requirement already satisfied: six>=1.10 in c:\ravikanth\k\lib\site-packages (from matplotlib>=1.5.1->MLXTEND) (1.11.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\ravikanth\k\lib\site-packages (from matplotlib>=1.5.1->MLXTEND) (2.6.1)
Requirement already satisfied: pytz in c:\ravikanth\k\lib\site-packages (from matplotlib>=1.5.1->MLXTEND) (2017.3)
Requirement already satisfied: cycler>=0.10 in c:\ravikanth\k\lib\site-packages (from matplotlib>=1.5.1->MLXTEND) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\ravikanth\k\lib\site-packages (from matplotlib>=1.5.1->MLXTEND) (2.2.0)
Installing collected packages: MLXTEND
Successfully installed MLXTEND-0.15.0.0

You are using pip version 19.0.2, however version 19.0.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [317]:
import mlxtend
from mlxtend.classifier import StackingClassifier

In [340]:
clf1 = KNeighborsClassifier(n_neighbors=1)
clf2 = RandomForestClassifier(random_state=1)
clf3 = GaussianNB()
lr = LogisticRegression()
sclf = StackingClassifier(classifiers=[lr, clf2], 
                          meta_classifier=clf3)

In [341]:
sclf.fit(train_dm.iloc[:,:-1],train_dm['Loan_Status'])
sclf.score(train_dm.iloc[:,:-1], train_dm['Loan_Status'])

0.995114006514658

In [342]:
pred_loan_status= sclf.predict(test_dm)

In [343]:
submission_3 = pd.DataFrame(test['Loan_ID'] , columns=['Loan_ID','Loan_Status'])
submission_3['Loan_Status'] = pred_loan_status
mapper = { 1 : 'Y' , 0 : 'N'}
submission_3['Loan_Status'] = submission_3['Loan_Status'].map(mapper)
submission_3.to_csv('Submission_3.csv' , index= False)

False