In [5]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import os

In [4]:
path = 'C:\\Ravikanth\\Kaggle\\elo-merchant-category-recommendation'

In [7]:
os.chdir(path)

In [10]:
pwd

'C:\\Ravikanth\\Kaggle\\elo-merchant-category-recommendation'

In [11]:
print(os.listdir())

['Data_Dictionary.xlsx', 'historical_transactions.csv', 'merchants.csv', 'new_merchant_transactions.csv', 'sample_submission.csv', 'test.csv', 'train.csv']

In [12]:
train = pd.read_csv('train.csv')

In [13]:
test = pd.read_csv('test.csv')

In [14]:
train.shape

(201917, 6)

In [15]:
train.head()

,first_active_month,card_id,feature_1,feature_2,feature_3,target
0,2017-06,C_ID_92a2005557,5,2,1,-0.820283
1,2017-01,C_ID_3d0044924f,4,1,0,0.392913
2,2016-08,C_ID_d639edf6cd,2,2,0,0.688056
3,2017-09,C_ID_186d6a6901,4,3,0,0.142495
4,2017-11,C_ID_cdbd2c0db2,1,3,0,-0.159749

In [19]:
test.shape

(123623, 5)

In [20]:
test.head()

  first_active_month          card_id  feature_1  feature_2  feature_3
0            2017-04  C_ID_0ab67a22ab          3          3          1
1            2017-01  C_ID_130fd0cbdd          2          3          0
2            2017-08  C_ID_b709037bc5          5          1          1
3            2017-12  C_ID_d27d835a9f          2          1          0
4            2015-12  C_ID_2b5e3df5c2          5          1          1

In [22]:
train.select_dtypes('object').apply(pd.Series.nunique , axis = 0)

first_active_month        75
card_id               201917
dtype: int64

In [23]:
train.describe()

           feature_1      feature_2      feature_3         target
count  201917.000000  201917.000000  201917.000000  201917.000000
mean        3.105311       1.745410       0.565569      -0.393636
std         1.186160       0.751362       0.495683       3.850500
min         1.000000       1.000000       0.000000     -33.219281
25%         2.000000       1.000000       0.000000      -0.883110
50%         3.000000       2.000000       1.000000      -0.023437
75%         4.000000       2.000000       1.000000       0.765453
max         5.000000       3.000000       1.000000      17.965068

In [24]:
test.describe()

          feature_1      feature_2      feature_3
count  123623.00000  123623.000000  123623.000000
mean        3.10926       1.741796       0.564377
std         1.18911       0.749195       0.495840
min         1.00000       1.000000       0.000000
25%         2.00000       1.000000       0.000000
50%         3.00000       2.000000       1.000000
75%         4.00000       2.000000       1.000000
max         5.00000       3.000000       1.000000

In [39]:
def missing_val(df):
    missing_val = df.isnull().sum()
    missing_val_percent = 100*missing_val/len(df)
    missing_val_table = pd.concat([missing_val , missing_val_percent] , axis = 1)
    missing_val_table_ren = missing_val_table.rename(columns = { 0 :'Missing values' , 1: '% Missing values'})
    missing_val_table_ren = missing_val_table_ren.sort_values('% Missing values' , ascending = False)
    return missing_val_table_ren

In [40]:
missing_val(train)

                    Missing values  % Missing values
first_active_month               0               0.0
card_id                          0               0.0
feature_1                        0               0.0
feature_2                        0               0.0
feature_3                        0               0.0
target                           0               0.0

In [41]:
missing_val(test)

                    Missing values  % Missing values
first_active_month               1          0.000809
card_id                          0          0.000000
feature_1                        0          0.000000
feature_2                        0          0.000000
feature_3                        0          0.000000

In [42]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201917 entries, 0 to 201916
Data columns (total 6 columns):
first_active_month    201917 non-null object
card_id               201917 non-null object
feature_1             201917 non-null int64
feature_2             201917 non-null int64
feature_3             201917 non-null int64
target                201917 non-null float64
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ MB

In [43]:
 corr = train.corr()['target'].sort_values()

In [44]:
corr

feature_1   -0.014251
feature_3   -0.008125
feature_2   -0.006242
target       1.000000
Name: target, dtype: float64

In [45]:
#No need of OHE and Label encoding as the train data only one Onject data i.e Card ID which we would like to keep as it is.
# Now look at the historical transactions data

In [ ]:
hist_trans = pd.read_csv('historical_transactions.csv')

In [1]:
aggs = {}
for col in ['month','hour','weekofyear','dayofweek','year','subsector_id','merchant_id','merchant_category_id']:
    aggs[col] = ['nunique']

In [2]:
aggs

{'dayofweek': ['nunique'],
 'hour': ['nunique'],
 'merchant_category_id': ['nunique'],
 'merchant_id': ['nunique'],
 'month': ['nunique'],
 'subsector_id': ['nunique'],
 'weekofyear': ['nunique'],
 'year': ['nunique']}

In [3]:
aggs['purchase_amount'] = ['sum','max','min','mean','var']
aggs['installments'] = ['sum','max','min','mean','var']
aggs['purchase_date'] = ['max','min']
aggs['month_lag'] = ['max','min','mean','var']
aggs['month_diff'] = ['mean']
aggs['authorized_flag'] = ['sum', 'mean']
aggs['weekend'] = ['sum', 'mean']
aggs['category_1'] = ['sum', 'mean']
aggs['card_id'] = ['size']

In [4]:
aggs

{'authorized_flag': ['sum', 'mean'],
 'card_id': ['size'],
 'category_1': ['sum', 'mean'],
 'dayofweek': ['nunique'],
 'hour': ['nunique'],
 'installments': ['sum', 'max', 'min', 'mean', 'var'],
 'merchant_category_id': ['nunique'],
 'merchant_id': ['nunique'],
 'month': ['nunique'],
 'month_diff': ['mean'],
 'month_lag': ['max', 'min', 'mean', 'var'],
 'purchase_amount': ['sum', 'max', 'min', 'mean', 'var'],
 'purchase_date': ['max', 'min'],
 'subsector_id': ['nunique'],
 'weekend': ['sum', 'mean'],
 'weekofyear': ['nunique'],
 'year': ['nunique']}

In [10]:
aggs.keys()

dict_keys(['month', 'hour', 'weekofyear', 'dayofweek', 'year', 'subsector_id', 'merchant_id', 'merchant_category_id', 'purchase_amount', 'installments', 'purchase_date', 'month_lag', 'month_diff', 'authorized_flag', 'weekend', 'category_1', 'card_id'])

In [9]:
def get_new_columns(name,aggs):
    return [name + '_' + k + '_' + agg for k in aggs.keys() for agg in aggs[k]]

In [13]:
new_colums = get_new_columns('hist',aggs)

In [14]:
new_colums

['hist_month_nunique',
 'hist_hour_nunique',
 'hist_weekofyear_nunique',
 'hist_dayofweek_nunique',
 'hist_year_nunique',
 'hist_subsector_id_nunique',
 'hist_merchant_id_nunique',
 'hist_merchant_category_id_nunique',
 'hist_purchase_amount_sum',
 'hist_purchase_amount_max',
 'hist_purchase_amount_min',
 'hist_purchase_amount_mean',
 'hist_purchase_amount_var',
 'hist_installments_sum',
 'hist_installments_max',
 'hist_installments_min',
 'hist_installments_mean',
 'hist_installments_var',
 'hist_purchase_date_max',
 'hist_purchase_date_min',
 'hist_month_lag_max',
 'hist_month_lag_min',
 'hist_month_lag_mean',
 'hist_month_lag_var',
 'hist_month_diff_mean',
 'hist_authorized_flag_sum',
 'hist_authorized_flag_mean',
 'hist_weekend_sum',
 'hist_weekend_mean',
 'hist_category_1_sum',
 'hist_category_1_mean',
 'hist_card_id_size']

In [15]:
aggs

{'authorized_flag': ['sum', 'mean'],
 'card_id': ['size'],
 'category_1': ['sum', 'mean'],
 'dayofweek': ['nunique'],
 'hour': ['nunique'],
 'installments': ['sum', 'max', 'min', 'mean', 'var'],
 'merchant_category_id': ['nunique'],
 'merchant_id': ['nunique'],
 'month': ['nunique'],
 'month_diff': ['mean'],
 'month_lag': ['max', 'min', 'mean', 'var'],
 'purchase_amount': ['sum', 'max', 'min', 'mean', 'var'],
 'purchase_date': ['max', 'min'],
 'subsector_id': ['nunique'],
 'weekend': ['sum', 'mean'],
 'weekofyear': ['nunique'],
 'year': ['nunique']}